@media (prefers-color-scheme:dark) {
  body {
    background: {{ .Site.Params.colorDark }};
    color: {{ .Site.Params.colorLight }}
  }

  h1 a, h1 a:visited, h2 a, h2 a:visited, h3 a, h3 a:visited, h4 a, h4 a:visited, h5 a, h5 a:visited, h6 a, h6 a:visited {
    color: {{ .Site.Params.colorLight }}
  }

  a, a:visited {
    color: {{ .Site.Params.colorDarkAccent }}
  }
}

@media (prefers-color-scheme:light) {
  body {
    background: {{ .Site.Params.colorLight }};
    color: {{ .Site.Params.colorDark }}
  }

  h1 a, h1 a:visited, h2 a, h2 a:visited, h3 a, h3 a:visited, h4 a, h4 a:visited, h5 a, h5 a:visited, h6 a, h6 a:visited {
    color: {{ .Site.Params.colorDark }}
  }

  a, a:visited {
    color: {{ .Site.Params.colorLightAccent }}
  }
}
